{{! ANNOUNCEMENT CARD }}
<div
  class="col-sm-6 col-lg-4 mb-4 col"
>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">
        Announcement Card
      </h5>
      <p class="card-text">
        This card has a regular title and short paragraph of text below it.
      </p>
      <p class="card-text">
        <small class="text-muted">
          Last updated 3 mins ago
        </small>
      </p>
    </div>
  </div>
</div>