{{! ANNOUNCEMENT CARD }}
<div
  class="scroll-reveal col-sm-6 col-lg-4 mb-4 col"
>
  <div class="card text-center"
    data-tilt=""
    data-tilt-glare=""
    data-tilt-max-glare="0.8"
    data-tilt-scale="1.1"
    style="transform-style:preserve-3d; transform: perspective(1500px); background: linear-gradient(45deg,#313131,#000);">
    <div class="card-body" style="transform: translateZ(75px);">
      <h5 class="card-title text-info">
        Announcement Card
      </h5>
      <p class="card-text text-light">
        This card has a regular title and short paragraph of text below it.
      </p>
      <p class="card-text">
        <small class="text-secondary">
          Last updated 3 mins ago
        </small>
      </p>
    </div>
  </div>
</div>