{{! APP MESSAGE CARD }}
<div
  class="scroll-reveal col-sm-6 col-lg-4 mb-4 col"
>
  <div class="card bg-primary text-white text-center p-3"
    data-tilt=""
    data-tilt-glare=""
    data-tilt-max-glare="0.8"
    data-tilt-scale="1.1"
    style="transform-style:preserve-3d; transform: perspective(2000px); background: linear-gradient(45deg,#ff512f,#dd2476);">
    <figure class="mb-0" style="transform: translateZ(75px);">
      <blockquote class="blockquote">
        <p>
          This is a message from the app.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0 text-warning">
        Someone famous in
        <cite title="Source Title">
          Source Title
        </cite>
      </figcaption>
    </figure>
  </div>
</div>