{{! APP MESSAGE CARD }}
<div
  class="col-sm-6 col-lg-4 mb-4"
  style="position: absolute; left: 33.3333%; top: 171px;"
>
  <div class="card bg-primary text-white text-center p-3">
    <figure class="mb-0">
      <blockquote class="blockquote">
        <p>
          A well-known quote, contained in a blockquote element.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0 text-white">
        Someone famous in
        <cite title="Source Title">
          Source Title
        </cite>
      </figcaption>
    </figure>
  </div>
</div>