{{! APP MESSAGE CARD }}
<div
  class="scroll-reveal col-sm-6 col-lg-4 mb-4 col"
>
  <div class="card bg-primary text-white text-center p-3">
    <figure class="mb-0">
      <blockquote class="blockquote">
        <p>
          This is a message from the app.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0 text-white">
        Someone famous in
        <cite title="Source Title">
          Source Title
        </cite>
      </figcaption>
    </figure>
  </div>
</div>