{{#each this}}
<div class="border-bottom py-5 d-flex align-items-center justify-content-between mb-4">
  <div class="me-2 me-md-3"></div>
  <span class="avatar avatar-xl me-5">
    <!-- img -->
    <img
      alt="avatar"
      src="https://avatars.dicebear.com/api/croodles/{{user_id}}.svg?background=%23ffffff"
      class="rounded-circle"
    />
  </span>
  <span class="w-75">
    {{comment_text}}
  </span>
</div>
{{/each}}