<!-- Required meta tags -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<!-- Favicon icon-->
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="/images/favicon/favicon.ico"
/>
<!-- Libs CSS -->
<link
  href="/libs/bootstrap-icons/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<link href="/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
<link
  href="/libs/@mdi/font/css/materialdesignicons.min.css"
  rel="stylesheet"
/>
<link href="/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet" />
<!-- Theme CSS -->
<link rel="stylesheet" href="/css/theme.min.css" />
<title>
  Homepage | Dash Ui - Bootstrap 5 Admin Dashboard Template
</title>