{{! NEW USER CARD }}
<div
  class="scroll-reveal col-sm-6 col-lg-4 mb-4 col"
>
  <div class="card"
    data-tilt=""
    data-tilt-glare=""
    data-tilt-max-glare="0.8"
    data-tilt-scale="1.1"
    style="transform-style:preserve-3d; transform: perspective(1500px); background: linear-gradient(45deg,#313131,#000);">
    <svg
      class="bd-placeholder-img card-img-top"
      width="100%"
      height="200"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder: Image cap"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>
        Placeholder
      </title>
      <rect width="100%" height="100%" fill="#868e96"></rect>
      <text x="50%" y="50%" fill="#dee2e6" dy=".3em">
        Image cap
      </text>
    </svg>
    <div class="card-body" style="transform: translateZ(75px);">
      <h5 class="card-title text-warning">
        Feature a New User Card
      </h5>
      <p class="card-text text-light">
        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </p>
    </div>
  </div>
</div>