{{! OPINION CARD }}
<div
  class="scroll-reveal col-sm-6 col-lg-4 mb-4 col"
>
  <div class="card"
    data-tilt=""
    data-tilt-glare=""
    data-tilt-max-glare="0.8"
    data-tilt-scale="1.1"
    style="transform-style:preserve-3d; transform: perspective(1500px); background: linear-gradient(45deg,#313131,#000);">
    <div class="card-body" style="transform: translateZ(75px);">
      <h5 class="card-title text-warning">
        Opinion Card
      </h5>
      <p class="card-text text-light">
        This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.
      </p>
      <p class="card-text">
        <small class="text-muted">
          Last updated 3 mins ago
        </small>
      </p>
    </div>
  </div>
</div>