<div class="collapse mt-10 pt-10" id="postCollapse">
  <form class="post-form">
    <h4 class="mb-3">Create a New Post</h4>
    <label class="form-label" for="post-title">Title</label>
    <div class="mb-3">
      <input name="post-title" class="form-control border-300" id="post-title" placeholder="Grab their attention"/>
    </div>
    <label class="form-label" for="post-subtitle">Subtitle</label>
    <div class="mb-3">
      <input name="post-subtitle" class="form-control border-300" id="post-subtitle" placeholder="Say a little more"/>
    </div>
    <label class="form-label" for="post-text">Post</label>
    <div class="mb-3">
      <textarea name="post-text" class="form-control border-300" id="post-text" rows="10" placeholder="Tell the world..."></textarea>
    </div>
    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#postCollapse">Never Mind</button>
    <button type="submit" class="btn btn-primary">Submit Post</button>
  </form>
</div>