{{! QUOTE CARD }}
<div
  class="col-sm-6 col-lg-4 mb-4 col"
>
  <div class="card p-3">
    <figure class="p-3 mb-0">
      <blockquote class="blockquote">
        <p>
          A well-known Quote Card, contained in a blockquote element.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0 text-muted">
        Someone famous in
        <cite title="Source Title">
          Source Title
        </cite>
      </figcaption>
    </figure>
  </div>
</div>