{{! QUOTE CARD }}
<div
  class="scroll-reveal col-sm-6 col-lg-4 mb-4 col"
>
  <div class="card p-3"
    data-tilt=""
    data-tilt-glare=""
    data-tilt-max-glare="0.8"
    data-tilt-scale="1.1"
    style="transform-style:preserve-3d; transform: perspective(1500px); background: linear-gradient(45deg,#313131,#000);">
    <figure class="p-3 mb-0" style="transform: translateZ(75px);">
      <blockquote class="blockquote">
        <p class="text-info">
          A well-known Quote Card, contained in a blockquote element.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0 text-light">
        Someone famous in
        <cite title="Source Title">
          Source Title
        </cite>
      </figcaption>
    </figure>
  </div>
</div>