<!-- navbar vertical -->
<!-- Sidebar -->
<nav class="navbar-vertical navbar">
  <div class="nav-scroller">
    <!-- Brand logo -->
    <a class="navbar-brand" href="/">
      <img
        src="/images/brand/logo/logo.png"
        style="width: 200px; height: auto;"
        alt="Crop Duster logo"
      />
    </a>
    <!-- Navbar nav -->
    <ul class="navbar-nav flex-column" id="sideNavbar">
      {{! Dashboard }}
      <li class="nav-item">
        <a class="nav-link has-arrow  active" href="./index.html">
          <i data-feather="home" class="nav-icon icon-xs me-2"></i>
          Dashboard
        </a>
      </li>
      {{! Sub-heading }}
      <li class="nav-item">
        <div class="navbar-heading">
          Explore
        </div>
      </li>
      {{! Sign-in }}
      <li class="nav-item">
        <a class="nav-link" href="/sign-in">
          <i data-feather="log-in" class="nav-icon icon-xs me-2"></i>
          Sign In
        </a>
      </li>
      {{! Sign-up }}
      <li class="nav-item">
        <a class="nav-link" href="/sign-up">
          <i data-feather="user-plus" class="nav-icon icon-xs me-2"></i>
          Sign Up
        </a>
      </li>
      {{! Forgot Password }}
      <li class="nav-item">
        <a class="nav-link" href="/forgot-password">
          <i data-feather="help-circle" class="nav-icon icon-xs me-2"></i>
          Forgot Password
        </a>
      </li>
      {{! Pricing }}
      <li class="nav-item">
        <a class="nav-link" href="/pricing">
          <i data-feather="dollar-sign" class="nav-icon icon-xs me-2"></i>
          Pricing
        </a>
      </li>
      {{! Profile }}
      <li class="nav-item">
        <a class="nav-link" href="/profile">
          <i data-feather="user" class="nav-icon icon-xs me-2"></i>
          Profile
        </a>
      </li>
      {{! Settings }}
      <li class="nav-item">
        <a class="nav-link" href="/settings">
          <i data-feather="settings" class="nav-icon icon-xs me-2"></i>
          Settings
        </a>
      </li>
      {{! Billing }}
      <li class="nav-item">
        <a class="nav-link" href="/billing">
          <i data-feather="credit-card" class="nav-icon icon-xs me-2"></i>
          Billing
        </a>
      </li>
    </ul>
  </div>
</nav>