<!-- navbar vertical -->
<!-- Sidebar -->
<nav class="navbar-vertical navbar">
  <div class="nav-scroller">
    <!-- Brand logo -->
    <a class="navbar-brand" href="/">
      <img
        src="/images/brand/logo/logo.png"
        style="width: 200px; height: auto;"
        alt="Crop Duster logo"
      />
    </a>
    <!-- Navbar nav -->
    <ul class="navbar-nav flex-column" id="sideNavbar">
      <li class="nav-item">
        <a class="nav-link has-arrow  active" href="./index.html">
          <i data-feather="home" class="nav-icon icon-xs me-2"></i>
          Dashboard
        </a>
      </li>
      <!-- Nav item -->
      <li class="nav-item">
        <div class="navbar-heading">
          Explore
        </div>
      </li>
      <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <i data-feather="user" class="nav-icon icon-xs me-2"></i>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">
              <i data-feather="settings" class="nav-icon icon-xs me-2"></i>
              Settings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/billing">
              <i data-feather="credit-card" class="nav-icon icon-xs me-2"></i>
              Billing
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pricing">
              <i data-feather="dollar-sign" class="nav-icon icon-xs me-2"></i>
              Pricing
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./views/sign-in.html">
              <i data-feather="log-in" class="nav-icon icon-xs me-2"></i>
              Sign In
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./views/sign-up.html">
              <i data-feather="user-plus" class="nav-icon icon-xs me-2"></i>
              Sign Up
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./views/forget-password.html">
              <i data-feather="help-circle" class="nav-icon icon-xs me-2"></i>
              Forgot Password
            </a>
          </li>
    </ul>
  </div>
</nav>