<!DOCTYPE html>
<html lang="en">
  <head>
    {{!-- Meta tags and rel links --}}
    {{> head}}
  </head>
  <body class="bg-light">
    <div id="db-wrapper">
      {{!-- Vertical Sidebar --}}
      {{> sidebar}}
      {{!-- Page Content --}}
      <div id="page-content" style="background-color: #28c3d7">
        {{!-- Top Navbar --}}
        {{> navbar}}
        {{!-- Current View --}}
        {{{ body }}}
      </div>
    </div>
    {{!-- Javascript and lib modules --}}
    {{> scripts}}
  </body>
</html>