<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body class="bg-light">
    <div id="db-wrapper">
        {{> sidebar}}
        
       {{{ body }}}
    </div>
    {{> scripts}}
  </body>
</html>