<!-- Container fluid -->
<div class="bg-primary pt-10 pb-21" style="background: linear-gradient(45deg,#3a1c71, #d76d77,#ffaf7b);"></div>
<div class="container-fluid mt-n22 px-6">
    {{!-- Header --}}
    {{> dashboard-header}}

    {{!-- Groups table --}}
    {{> groups-table}}

    {{!-- Connections --}}
    {{> connections}}
</div>
