<!-- Container fluid -->
<div class="bg-primary pt-10 pb-21"></div>
<div class="container-fluid mt-n22 px-6">
    {{!-- Header --}}
    {{> dashboard-header}}

    {{!-- Groups table --}}
    {{> groups-table}}

    {{!-- Connections --}}
    {{> connections}}
</div>
