<div>
      {{!-- <button id="save-btn" type="button" class="btn btn-primary">
  save
</button>
<input 
  type="file"
  id="load"
  name="avatar"
  accept="image/png"
> --}}
<div class="container">
  
  <div>
    <a class="magic-hover magic-hover__square nav-link" href="/profile">
          <i data-feather="user" class="nav-icon icon-xs me-2"></i>
          Profile <button id="save" type="button" class='btn btn-primary'>
      save
    </button>
    <input 
      type="file"
      id="load"
      name="avatar"
      accept="image/png"
    >
        </a>
    
  </div>
</div>
      
    </div>
<div id='wrapper'>
  <div id='bg'></div>
  <div id='intro'></div>
  <div id='sketchpad'>
    
  </div>
  <canvas id='sketch'></canvas>
  <div id='shadow'></div>

  <canvas id='pencil3D'></canvas>
  {{!-- <div>
    <canvas id="canvas" width="500" height="500"></canvas>
  </div> --}}
</div>
{{! Pencil JS }}
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js'
></script>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js'
></script>
<script
  src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/356608/OBJLoader.js'
></script>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.4/paper-core.min.js'
></script>
<script src='/js/pencil.js'></script>