<div>
<div class="container">

  <div>
    <a class="nav-link" href="/stream">
          <i data-feather="home" class="nav-icon icon-xs me-2"></i>
          Home
    <input
      type="file"
      id="load"
      name="avatar"
      accept="image/png"
    >
        </a>

    {{!-- color buttons --}}
    <button id="save" type="button" class='magic-hover magic-hover__square btn btn-info'>
      Download
    </button>
    <a href="/dashboard" id="post" type="button" class='magic-hover magic-hover__square btn btn-secondary'>
      Post
    </a>
    <button id="black" type="button" class='magic-hover magic-hover__square btn btn-dark'>
      black
    </button>
     <button id="red" type="button" class='magic-hover magic-hover__square btn btn-danger'>
      red
    </button>
     <button id="blue" type="button" class='magic-hover magic-hover__square btn btn-primary'>
      blue
    </button>
     <button id="yellow" type="button" class='magic-hover magic-hover__square btn btn-warning'>
      yellow
    </button>
     <button id="purple" type="button" class='magic-hover magic-hover__square btn text-light' style="background-color: purple;">
      purple
    </button>
     <button id="green" type="button" class='magic-hover magic-hover__square btn btn-success'>
      green
    </button>
  </div>
</div>

{{!-- canvas --}}
<div id="app" class="full-height">
            <button id="clear" class="clearbtn magic-hover magic-hover__square">Clear</button>
            <canvas id="myCanvas"></canvas>
        </div>

{{! Pencil JS }}
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.4/paper-core.min.js'
></script>
<script src='/js/pencil.js'></script>

