<div>
<div class="container">
  
  <div>
    <a class="magic-hover magic-hover__square nav-link" href="/profile">
          <i data-feather="user" class="nav-icon icon-xs me-2"></i>
          Profile
    <input 
      type="file"
      id="load"
      name="avatar"
      accept="image/png"
    >
        </a>
    
    {{!-- color buttons --}}
    <button id="save" type="button" class='btn btn-primary'>
      save
    </button>
    <button id="black" type="button" class='btn btn-primary'>
      black
    </button>
     <button id="red" type="button" class='btn btn-primary'>
      red
    </button>
     <button id="blue" type="button" class='btn btn-primary'>
      blue
    </button>
     <button id="yellow" type="button" class='btn btn-primary'>
      yellow
    </button>
     <button id="purple" type="button" class='btn btn-primary'>
      purple
    </button>
     <button id="green" type="button" class='btn btn-primary'>
      green
    </button>
  </div>
</div>

{{!-- canvas --}}
<div id="app" class="full-height">
            <button id="clear" class="clearbtn">Clear</button>
            <canvas id="myCanvas"></canvas>
        </div>

{{! Pencil JS }}
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js'
></script>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js'
></script>
<script
  src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/356608/OBJLoader.js'
></script>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.4/paper-core.min.js'
></script>
<script src='/js/pencil.js'></script>

