<!-- Container fluid -->
<div class="container-fluid p-6">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->

      <div class="border-bottom pb-4 mb-4">
        <h3 class="mb-0 fw-bold text-light">General</h3>
      </div>
    </div>
  </div>
  <div class="row mb-8">
    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
      <div class="mb-4 mb-lg-0">
        <h4 class="mb-1 text-light">General Setting</h4>
        <p class="mb-0 fs-5 text-light">Profile configuration settings</p>
      </div>
    </div>

    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
      <!-- card -->
      <div class="card">
        <!-- card body -->
        <div class="card-body">
          <div class="mb-6">
            <h4 class="mb-1">General Settings</h4>
          </div>
          <div class="row align-items-center mb-8">
            <div class="col-md-3 mb-3 mb-md-0">
              <h5 class="mb-0">Avatar</h5>
            </div>
            <div class="col-md-9">
              <div class="d-flex align-items-center">
                <div class="me-3">
                  <img
                    src="https://avatars.dicebear.com/api/croodles/{{user.id}}.svg?background=%23ffffff"
                    class="rounded-circle avatar avatar-lg"
                    alt=""
                  />
                </div>
                <div>
                  <button type="submit" class="btn btn-outline-white me-1">
                    Change
                  </button>
                  <button type="submit" class="btn btn-outline-white">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="row mb-8">
            <div class="col-md-3 mb-3 mb-md-0">
              <!-- heading -->
              <h5 class="mb-0">Cover photo</h5>
            </div>
            <div class="col-md-9">
              <!-- dropzone input -->
              <div>
                <form action="#" class="dropzone mb-3 border-dashed">
                  <div class="fallback">
                    <input name="file" type="file" multiple />
                  </div>
                </form>               
                <button type="submit" class="btn btn-outline-white">
                  Change
                </button>
              </div>
            </div>
          </div>
          <div>
            <!-- border -->
            <div class="mb-6">
              <h4 class="mb-1">Basic information</h4>
            </div>
            <form>
              <!-- row -->

              <div class="mb-3 row">
                <label
                  for="fullName"
                  class="col-sm-4 col-form-label form-label"
                >
                  Full name
                </label>
                <div class="col-sm-4 mb-3 mb-lg-0">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First name"
                    id="fullName"
                    required
                  />
                </div>
                <div class="col-sm-4">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last name"
                    id="lastName"
                    required
                  />
                </div>
              </div>

              <!-- row -->
              <div class="mb-3 row">
                <label for="email" class="col-sm-4 col-form-label form-label">
                  Email
                </label>
                <div class="col-md-8 col-12">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    id="email"
                    required
                  />
                </div>
              </div>
              <!-- row -->
              <div class="mb-3 row">
                <label for="phone" class="col-sm-4 col-form-label form-label">
                  Phone
                  <span class="text-muted">(Optional)</span>
                </label>
                <div class="col-md-8 col-12">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Phone"
                    id="phone"
                    required
                  />
                </div>
              </div>
              <!-- row -->
              <div class="mb-3 row">
                <label
                  for="location"
                  class="col-sm-4 col-form-label form-label"
                >
                  Location
                </label>

                <div class="col-md-8 col-12">
                  <select class="form-select" id="location">
                    <option selected>Select Country</option>
                    <option value="1">India</option>
                    <option value="2">UK</option>
                    <option value="3">USA</option>
                  </select>
                </div>
              </div>
              
             
              <!-- row -->
              <div class="row align-items-center">
                <label for="zipcode" class="col-sm-4 col-form-label form-label">
                  Zip code
                  <i data-feather="info" class="me-2 icon-xs"></i>
                </label>

                <div class="col-md-8 col-12">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="placeholder"
                    id="zipcode"
                    required
                  />
                </div>
                <div class="offset-md-4 col-md-8 mt-4">
                  <button type="submit" class="btn btn-primary">
                    Save Changes
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-8">
    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
      <div class="mb-4 mb-lg-0">
        <h4 class="mb-1 text-light">Password Settings</h4>
        <p class="mb-0 fs-5 text-light">Manage your password preferences</p>
      </div>
    </div>

    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
      <!-- card -->
      <div class="card" id="edit">
        <!-- card body -->
        <div class="card-body">
          <div class="mb-6 mt-6">
            <h4 class="mb-1">Change your password</h4>
          </div>
          <form>
            <!-- row -->
            <div class="mb-3 row">
              <label
                for="currentPassword"
                class="col-sm-4 col-form-label form-label"
              >
                Current password
              </label>

              <div class="col-md-8 col-12">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Current password"
                  id="currentPassword"
                  required
                />
              </div>
            </div>
            <!-- row -->
            <div class="mb-3 row">
              <label
                for="currentNewPassword"
                class="col-sm-4 col-form-label form-label"
              >
                New password
              </label>

              <div class="col-md-8 col-12">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter New password"
                  id="currentNewPassword"
                  required
                />
              </div>
            </div>
            <!-- row -->
            <div class="row align-items-center">
              <label
                for="confirmNewpassword"
                class="col-sm-4 col-form-label form-label"
              >
                Confirm new password
              </label>
              <div class="col-md-8 col-12 mb-2 mb-lg-0">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm new password"
                  id="confirmNewpassword"
                  required
                />
              </div>
              <!-- list -->
              <div class="offset-md-4 col-md-8 col-12 mt-4">
                <h6 class="mb-1">Password requirements:</h6>
                <p>Ensure that these requirements are met:</p>
                <ul>
                  <li>Minimum 8 characters long the more, the better</li>
                  <li>At least one lowercase character</li>
                  <li>At least one uppercase character</li>
                  <li>At least one number, symbol, or whitespace character</li>
                </ul>
                <button type="submit" class="btn btn-primary">
                  Save Changes
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-8">
    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
      <div class="mb-4 mb-lg-0">
        <h4 class="mb-1 text-light">Preferences</h4>
        <p class="mb-0 fs-5 text-light">Configure your preferences</p>
      </div>
    </div>

    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
      <div class="card" id="preferences">
        <div class="card-body">
          <div class="mb-6">
            <h4 class="mb-1">Preferences</h4>
          </div>
          <form>
            <!-- row -->
            <div class="mb-3 row">
              <label for="langauge" class="col-sm-4 col-form-label form-label">
                Langauge
              </label>

              <div class="col-md-8 col-12">
                <select class="form-select" id="langauge">
                  <option selected>English</option>
                  <option value="1">Hindi</option>
                  <option value="2">Spanish</option>
                  <option value="3">Arabic</option>
                  <option value="4">Mandarin</option>
                  <option value="5">French</option>
                  <option value="6">Bengali</option>
                  <option value="7">Russian</option>
                  <option value="8">Portuguese</option>
                  <option value="9">Indonesian</option>
                  <option value="10">Bengali</option>
                  <option value="11">Punjabi</option>
                  <option value="12">German</option>
                  <option value="13">Japanese</option>
                  <option value="14">Persian</option>
                </select>
              </div>
            </div>
            <!-- row -->
            <div class="mb-3 row">
              <label for="timeZone" class="col-sm-4 col-form-label form-label">
                Time Zone
              </label>

              <div class="col-md-8 col-12">
                <select class="form-select" id="timeZone">
                  <option selected>Central Daylight Time (GMT-5)</option>
                  <option value="1">Mountain Daylight Time (GMT-6)</option>
                  <option value="2">Pacific Daylight Time (GMT-7)</option>
                  <option value="3">Alaska Daylight Time (GMT-8)</option>
                  <option value="4">Hawaii-Aleutian Standard Time (GMT-10)</option>
                </select>
              </div>
            </div>
          

            <!-- row -->
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label form-label">Allow comments on your posts</label>
              <div class="col-md-8 col-12">
                <div class="form-check custom-radio form-check-inline">
                  <input
                    type="radio"
                    id="customRadioInlineOn"
                    name="customRadioInline"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="customRadioInlineOn">
                    On
                  </label>
                </div>
                <div class="form-check custom-radio form-check-inline">
                  <input
                    type="radio"
                    id="customRadioInlineOff"
                    name="customRadioInline"
                    class="form-check-input"
                  />
                  <label class="form-check-label" for="customRadioInlineOff">
                    Off
                  </label>
                </div>
              </div>
            </div>
            <!-- row -->
            <div class="mb-3 row">
              <div class="col-md-4 col-12">
                <label class="mb-0 form-label">Choose who can view your account</label>
              </div>
              <div class="col-md-8 col-12">
                <div class="form-check mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="customChecktellMe"
                  />
                  <label class="form-check-label" for="customChecktellMe">
                    Friends Only
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="customCheckemail"
                  />
                  <label class="form-check-label" for="customCheckemail">
                    Friends of friends
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="customCheckemailTwo"
                    checked
                  />
                  <label class="form-check-label" for="customCheckemailTwo">
                    Everyone
                  </label>
                </div>
              </div>
              <div class="offset-md-4 col-md-8 col-12 mt-2">
                <button type="submit" class="btn btn-primary">
                  Save Changes
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-8">
    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
      <div class="mb-4 mb-lg-0">
        <h4 class="mb-1 text-light">Notifications</h4>
        <p class="mb-0 fs-5 text-light">Change notification settings</p>
      </div>
    </div>

    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
      <!-- card -->

      <div class="card">
        <!-- card body -->
        <div class="card-body">
          <div class="mb-6">
            <h4 class="mb-1">Notification for email, mobile & Slack</h4>
          </div>
          <div class="mb-4">
            <!-- alert -->
            <div
              class="alert alert-warning alert-dismissible fade show"
              role="alert"
            >
              To start using Slack for personal notifications, you should first
              connect Slack.
              <button
                type="submit"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <!-- table -->
          <div class="table-responsive mb-3">
            <table class="table text-nowrap">
              <thead class="table-light">
                <tr>
                  <th class="w-75">Activity & Conversation</th>
                  <th>
                    <i data-feather="smartphone" class="icon-sm me-2"></i>
                  </th>
                  <th><i data-feather="slack" class="icon-sm me-2"></i></th>
                  <th><i data-feather="mail" class="icon-sm me-2"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="border-top-0"></td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckOne"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckOne"
                      ></label>
                    </div>
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckTwo"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckTwo"
                      ></label>
                    </div>
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckThree"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckThree"
                      ></label>
                    </div>
                  </td>
                </tr>
              

                <tr>
                  <td class="border-top-0">
                    When someone sends me a friend request
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckSix"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckSix"
                      ></label>
                    </div>
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckSeven"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckSeven"
                      ></label>
                    </div>
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckEight"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckEight"
                      ></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="border-top-0">
                    When someone comments in threads I’m following
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckNine"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckNine"
                      ></label>
                    </div>
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckTen"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckTen"
                      ></label>
                    </div>
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckEleven"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckEleven"
                      ></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="border-top-0">
                    When someone @mentions me in any comments
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckTwelve"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckTwelve"
                      ></label>
                    </div>
                  </td>
                  <td class="border-top-0">
                    <i class="text-muted icon-sm" data-feather="minus"></i>
                  </td>
                  <td class="border-top-0">
                    <i class="text-muted icon-sm" data-feather="minus"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table mb-0 text-nowrap">
              <thead class="table-light">
                <tr>
                  <th class="w-75">Graffiti Board</th>
                  <th>
                    <i data-feather="smartphone" class="me-2 icon-sm"></i>
                  </th>
                  <th><i data-feather="slack" class="me-2 icon-sm"></i></th>
                  <th><i data-feather="mail" class="me-2 icon-sm"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="border-top-0">
                    When my invitees sign up
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckSixteen"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckSixteen"
                      ></label>
                    </div>
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckSeventeen"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckSeventeen"
                      ></label>
                    </div>
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckEighteen"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckEighteen"
                      ></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="border-top-0">
                    When someone requests access to my graffiti board
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckNineteen"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckNineteen"
                      ></label>
                    </div>
                  </td>
                  <td class="border-top-0">
                    <i data-feather="minus" class="text-muted icon-sm"></i>
                  </td>
                  <td class="border-top-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckTwenty"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckTwenty"
                      ></label>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="border-bottom-0">
                    When someone invites me to their graffiti board
                  </td>
                  <td class="border-bottom-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckTwentyone"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckTwentyone"
                      ></label>
                    </div>
                  </td>
                  <td class="border-bottom-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckTwentytwo"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckTwentytwo"
                      ></label>
                    </div>
                  </td>
                  <td class="border-bottom-0">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheckTwentythree"
                      />
                      <label
                        class="form-check-label"
                        for="customCheckTwentythree"
                      ></label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr class="my-6" />
        
            <div class="col-xl-3 col-md-12">
              <button type="submit" class="btn btn-primary">
                Save Changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
      <div class="mb-4 mb-lg-0">
        <h4 class="mb-1 text-light">Delete Account</h4>
        <p class="mb-0 fs-5 text-light"></p>
      </div>
    </div>

    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
      <!-- card -->

      <div class="card mb-6">
        <!-- card body -->
        <div class="card-body">
          <div class="mb-6">
            <h4 class="mb-1">Danger Zone</h4>
          </div>
          <div>
            <!-- text -->
            <p>
              Delete any and all content you have, such as articles, comments,
              your reading list or chat messages. Allow your username to become
              available to anyone.
            </p>
            <a href="#" class="btn btn-danger">Delete Account</a>
            <p class="small mb-0 mt-3">
              Feel free to contact with any
              <a href="#">watercolor@support.com</a>
              questions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
