<div class="container col-4 magic-hover magic-hover__square">
  <div class="row flex-center min-vh-100 py-5">
      <div class="text-center mb-6">
        <img class="mb-2" src="/images/svg/3.svg" alt="" />
        <h4>
          Come back soon!
        </h4>
        <p class="text-700">
          Thanks for using Crop Duster. You are now successfully signed out.
        </p>
      </div>
      <a class="btn btn-primary w-100" href="/sign-in">
        <span class=""></span>
        Go to sign in page
      </a>
  </div>
</div>
<script src="/js/logout.js"></script>