/* .container {
  display: flex;
  flex-direction:column;
} */

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#color {
    border-radius: 50px;
    transition: background-color 0.5s ease;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-color: #6441A4;
    float: left;
    position: relative;
    left: -50%;
}

#color-container {
    float: left;
    position: relative;
    left: 50%;
}

.clearbtn{
    position:fixed; 
    top:0; 
    margin: 10px; 
    padding:10px; 
    right:0; 
    border-radius:50%; 
    background:#624bff;; 
    cursor:pointer;
    z-index: 1000;
}

.full-height{
    width: 100%;
    height: 100%;
}
.full-height canvas{
    width:100%; 
    height:100%;
    background-color: snow;
}

.bottombar{
    position:fixed; 
    bottom:0; 
    left:0; 
    padding:5px 0; 
    width:100%; 
    background-color:lightgray;
}

.color-list{
    list-style: n;
}
.color-list li{
    float: left;
    padding: 0 5px;
}

/***************************
 * color picker 
 ***************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#color-input{ display: none;}
#c-label{
  margin-left: 15px;
  position: absolute;
  height: 30px;
  width: 50px;
  border-radius: 5px;
  bottom:5px;
}
#color-input:checked ~ 
#c-picker{
  opacity:1;
}
#c-picker{
  position: absolute;
/*   float: right; */
  left: 70px;
  bottom: 50px;
  background-color: white;
  height:150px;
  width:180px;
  border: solid 1px #ccc;
  opacity:0;
  padding:5px;
/*   z-index:1000; */
}
canvas:hover{
  cursor: crosshair;
}

.card-body .mb-3 img {
  visibility: hidden;
}

.card-image {
  min-height: 131px;
}

.loading {
  position: relative;
  background: #9e9e9e;
  overflow: hidden;
  border-radius: 5%;
}

.loading:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255, 0.2), transparent);
  transform: translateX(-100%);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}